<template>
    <div>
        <h2 data-translate="vueisterApp.book.home.title">Books</h2>
        <jhi-alert></jhi-alert>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-4 no-padding-left">
                    <button class="btn btn-primary" ui-sref="book.new" >
                        <span class="glyphicon glyphicon-plus"></span>
                        <span class="hidden-xs"  data-translate="vueisterApp.book.home.createLabel">
                        Create new Book
                    </span>
                    </button>
                </div>
                <div class="col-xs-8 no-padding-right">
                    <form name="searchForm" class="form-inline">
                        <div class="input-group pull-right" >
                            <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="vueisterApp.book.home.search">
                            <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                            <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <br/>
        <div class="table-responsive">
            <table class="jh-table table table-striped">
                <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="vueisterApp.book.title">Title</span></th>
                    <th><span data-translate="vueisterApp.book.isbn">Isbn</span></th>
                    <th><span data-translate="vueisterApp.book.available">Available</span></th>
                    <th><span data-translate="vueisterApp.book.authors">Authors</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="book in books" :key="book.id">
                    <td><a ui-sref="book-detail({id:book.id})">{{book.id}}</a></td>
                    <td>{{book.title}}</td>
                    <td>{{book.isbn}}</td>
                    <td>{{book.available}}</td>
                    <td>
                        <span v-for="authors in book.authors" :key="authors.id">
                            <a class="form-control-static" ui-sref="author-detail({id: authors.id})">{{authors.id}}</a>{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="book-detail({id:book.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="book.edit({id:book.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="book.delete({id:book.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<style lang="scss">
</style>

<script>
    import BookService from './BookService'

    export default{
        data(){
            return {
                books: []
            }
        },

        created () {
            console.log('Books created');
            console.log('trying to readBooks');
            BookService.readBooks(this).then(function (response) {
                console.log('ok');
                console.log(response);
                this.books = response;
            })
        },

        components:{
        }
    }
</script>
