<template>
    <div>
        <h2 data-translate="vueisterApp.author.home.title">Authors</h2>
        <jhi-alert></jhi-alert>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-4 no-padding-left">
                    <button class="btn btn-primary" ui-sref="author.new" >
                        <span class="glyphicon glyphicon-plus"></span>
                        <span class="hidden-xs"  data-translate="vueisterApp.author.home.createLabel">
                        Create new Author
                    </span>
                    </button>
                </div>
                <div class="col-xs-8 no-padding-right">
                    <form name="searchForm" class="form-inline">
                        <div class="input-group pull-right" >
                            <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="vueisterApp.author.home.search">
                            <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                            <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <br/>
        <div class="table-responsive">
            <table class="jh-table table table-striped">
                <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="vueisterApp.author.name">Name</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="author in authors" :key="author.id">
                    <td><a ui-sref="author-detail({id:author.id})">{{author.id}}</a></td>
                    <td>{{author.name}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="author-detail({id:author.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="author.edit({id:author.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="author.delete({id:author.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</template>

<style lang="scss">
</style>

<script>
    import AuthorService from './AuthorService'

    export default{
        data(){
            return {
                authors: []
            }
        },

        created () {
            console.log('Authors created');
            console.log('trying to readAuthors');
            AuthorService.readAuthors(this).then(function (response) {
                console.log('ok');
                console.log(response);
                this.authors = response;
            })
        },

        components:{
        }
    }
</script>
